/* bike-category */
.category {
    background-size: cover;
    position: relative;
}


.category .category-title {
    padding: 2rem 0px;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
}

.category .category-title-content {
    color: white;
}

.category .category-content {
    position: relative;
    width: 100%;
}




@media (min-width: 992px) {
    .category .category-title {
        width: 100%;
        color: white;
        font-family: "Courier New", Courier, monospace;
        display: flex;
        justify-content: center;
    }

    .category .category-title-content {
        display:flex;
        justify-content:center;
        width: 25%;
        background-color: rgba(235, 229, 229, 0.5);
        padding: 2rem 0px;
    }
}

/* @media (max-width: 720px) {
  .category .category-title {
    display: none;
    writing-mode: horizontal-tb;
    text-orientation: none;
  }
  .category .category-content {
    margin-top: 10px;
  }
} 

}*/

/*@media (min-width: 992px) {
    .category .category-content {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transform: skew(-15deg, 0deg);
        border-radius: 50%;
        background-color: #ccc;
    }

    .category .category-content-1 {
        top: -50px;
    }


    .category .category-content-3 {
        top: -50px;
    }

    .category .category-content-4 {
        top: 50px;
    }

    .category .category-content-5 {
        top: 50px;
    }

    .category .category-content-6 {
        top: 50px;
    }
}*/

/*@media (min-width: 992px) {
    .category .category-content-2 {
        top: 150px;
    }
}*/


.category .category-img {
    height: 300px;
    transition: filter 1s;
    object-fit: cover;
}

.category .category-content:hover .category-img {
    filter: blur(4px);
}

.category .category-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(200, 200, 200, 0.5);
    transition: opacity 1s;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.category .category-content:hover .category-img-text {
    opacity: 1;
}
