/* news */
.news-section {
  padding: 30px;
}

.news-section .container {
  position: relative;
}

.news-section .news-title {
  text-align: center;
  padding: 30px 0;
}
.news-section img {
  object-fit: contain;
  height: 300px;
  width: 100%;
}

/* .news-section .carousel-control-prev,
.news-section .carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  bottom: 30%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
} */
