@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- shopCart  -->
<section class="shopCart p-5" style="background-color: #eee">
    <div class="container">
        <div class="shopCartTitle d-flex justify-content-between mb-2">
            <h1 class="lead text-black">Shopping Cart</h1>
            <div class="d-flex align-items-center">
                <label class="text-nowrap me-2"
                       id="sortShopCartLabel"
                       for="sortShopCart">
                    sort by:
                </label>
                <select id="sortShopCart"
                        class="form-select"
                        aria-label="Default select example">
                    <option selected>none</option>
                    <option value="increment">遞增</option>
                    <option value="decrease">遞減</option>
                </select>
            </div>
        </div>
        <!-- shopCart Content -->
        <div class="row border border-bottom border-1">
            <div class="card mb-3">
                <!-- <div class="card-title pt-3">
                  <div class="row gx-3">
                    <div class="col-md-3 text-center"></div>

                    <div class="col-md-4 text-center">
                      <h3>產品名稱</h3>
                    </div>

                    <div class="col-md-2 text-center">
                      <h3>數量</h3>
                    </div>

                    <div class="col-md-2 text-center">
                      <h3>價格</h3>
                    </div>
                  </div>
                </div> -->
                <div class="card-body">
                    <div class="row">
                        <div class="shopCartProducts col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- shopCartSum -->
        <div class="row mb-3">
            <div class="card shadow">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-lg-3 d-flex flex-column justify-content-between">
                            <div class="paymentMethod mb-lg-0 mb-3 visaCard fa-lg p-3 border rounded">
                                <i class="fa-brands fa-cc-visa"></i>
                                Visa
                            </div>
                            <div class="paymentMethod mb-lg-0 mb-3 masterCard fa-lg p-3 border rounded">
                                <i class="fa-brands fa-cc-mastercard"> </i>
                                Master Card
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex flex-column justify-content-between">
                            <div class="paymentMethod mb-lg-0 mb-3 creditCard fa-lg p-3 border rounded">
                                <i class="fa-brands fa-cc-paypal"> </i>
                                PayPal
                            </div>
                            <div class="paymentMethod mb-lg-0 mb-3 cashOnDelivery fa-lg p-3 border rounded">
                                <i class="fa-solid fa-wallet"> </i>
                                Cash On delivery
                            </div>
                        </div>

                        <div class="col-lg-3"></div>
                        <div class="col-lg-3">
                            <div class="shopCartSum">
                                <div class="d-flex justify-content-between">
                                    <p class="subTotal">subTotal:</p>
                                    <p class="subTotalPrice">0</p>
                                </div>
                                <div class="d-flex justify-content-between border-bottom mb-3">
                                    <p class="shipping">shipping:</p>
                                    <p class="shippingFee">0</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="total">Total (tax include):</p>
                                    <p class="totalPrice">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- shopCartCheckOut -->
<div class="shopCartCheckout">
    <div class="container bg-light rounded p-5">
        <div class="row mb-3">
            <div class="input-group px-0">
                <input type="text"
                       class="form-control"
                       placeholder="please input coupon" />
                <button type="button" class="btn btn-outline-success btn-lg">
                    Apply
                </button>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-secondary p-2">Checkout</button>
        </div>
    </div>
</div>
